server {
    server_name {{ item.name }};
    
    {% if item.type == "symfony" %}
        root /vagrant/{{ item.name }}/web/;
    {% else %}
        root /vagrant/;
    {% endif %}
    
    location / {
        index index.php index.html index.htm;
        
        {% if item.type == "symfony" %}
            try_files $uri /app.php$is_args$args;
        {% else %}
            try_files $uri $uri/ /index.php?$args;
        {% endif %}
    }
    
    {% if item.type == "symfony" %}
        location ~ ^/(app_dev|config)\.php(/|$) {
    {% else %}
        location ~ \.php$ {
    {% endif %}
        try_files $uri =404;
        fastcgi_split_path_info ^(.+\.php)(/.+)$;
        fastcgi_index index.php;
        fastcgi_pass unix:/run/php/php-{{ item.name }}-fpm.sock;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        include fastcgi_params;
    }
    
    {% if item.type == "symfony" %}
        location ~ ^/(app_dev|config)\.php(/|$) {
    {% else %}
        location ~ \.php$ {
    {% endif %}
        return 404;
    }
    
    error_log /var/log/nginx/{{ item.name }}_error_log;
    access_log /var/log/nginx/{{ item.name }}_access_log;
}